

/* Variables de colores */

:root{
    --yellow: #f7de82;
    --blue: #0c4ea2;
    --white: #ffffffff;
    --bold:900;
    --medium: 700;
    --regular: 400;
    --small: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* img{
    width: 100%;
    height: auto;
}

body{
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: "lato", sans-serif;
    font-weight: var(--small);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    padding: 3rem 0 8rem 0;
    background: var(--yellow);
}

nav{
    width: 90%;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100%; */
}

.menu i{
    font-size: 2rem;
    color: var(--blue);
}

.container-items{
    order: 1;
    width: 100%;
}

.item{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    /* display: none; */
}

.menu .logo{
    width: 15rem;
}

/* about */

.about__section{
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-img{
    width: 350px;
}

.about__section p{
    font-size: 2rem;
    font-weight: var(--small);
    margin: 1rem 0 5rem 0;
    text-align: center;
    padding: 0 2rem;
}

.about__content .btn{
    background: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    -webkit-border-radius:1rem; /*Safari y Chrome*/
    -moz-border-radius:1rem; /*Firefox*/
    -o-border-radius:1rem; /*Opera*/
    -ms-border-radius:1rem; /*IE 8*/
    text-transform: uppercase;
    font-weight: var(--medium);
    font-size: 1.2rem;
    cursor: pointer;
}

.about__content--img{
    width: 850px;
    margin: 5rem auto;
}

/* section description */

.description__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 8rem 0;
    background: var(--blue);
}

.description__section h2{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--yellow);
    margin-bottom: 2rem;
}

.description__section h3{
    font-size: 1.6rem;
    text-align: center;
    font-weight: var(--small);
    max-width: 300px;
    margin-bottom: 5rem;
}

.info-card{
    width: 40%;
    margin-bottom: 2rem;

}

.carts{
    display: flex;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    padding: 20px;
}

.cart p{
    max-width: 300px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--small);
}